html {
 	position: relative;
  min-height: 100%;
}

body {
  background-color: #eee;
}

header a {
  font-size: 1.3em;
}

.vertical-align {
	display: flex;
  align-items: center;
}

.aboutme {
  background: url("../images/petal.jpg") fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ccc;
  padding-right: 1.2em;
  margin-top: -20px;
  margin-bottom: -10px;
}

.aboutme img {
  width: 500px;   
  margin: 0 auto;
}

h1 {
  color: #eee;
  font-size: 5em;
	margin: 30px 0 40px 0;  	
}

.aboutme .surround {
  border: 1px solid white;
  padding: 5px 10px 30px 10px;
  background-color: #111;
  background-color: rgba(0,0,0,.8); 
}

.aboutme .social-media {
	width: 50px;
  margin-top: 25px;
  margin-left: 10px;
}

.portfolio h1 {
	color: black;
}

.thumbnail {
	height: 475px;
}

.thumbnail img {
	height: 300px;
}

.contactform {
	background-color: black;
  color: #ccc;
}

.contactform h2 {
	font-size: 4em;
	margin-bottom: 30px;
	color: #eee;
}

.contactform ul {
	padding-top: 10px;
  display: inline-block;
}

.contactform li {
	display: block;
	float: left;
	clear: both;
  margin-bottom: 5px;
}

.contactform .social-media {
	width: 35px;
	margin-bottom: 10px;
	margin-right: 10px;
}

.contactform a {
	color: #eee;
	font-size: 1.3em;
}

.footer {
  position: absolute;
  width: 100%;
  /* Set the fixed height of the footer here */
  background-color: #f5f5f5;
  color: #777;
  font-size: 1.3em;
}

footer .row {
  padding-top: 15px;
}

footer nav li + li {
 	margin-left: 15px;
}

footer a {
  color: #777;
}

footer a:hover, footer a:active {
  text-decoration: none;
  color: #aaa;
}

@media (max-width: 767px) {
  .contactform h2 {
    margin: 0 75px 20px 75px;
  }

  .contactform ul {
    display: inline-block;
    margin: 10px 50px 50px 50px;
    width: 250px;
  }

  .contactform li {
    display: block;
    float: left;
    clear: both;
    margin-bottom: 5px;
  }

  .contactform .social-media {
    width: 35px;
    margin-bottom: 10px;
    margin-right: 10px;
  }

  .contactform form {
    margin: 0 75px;
    width: 100%;
  }  
}
