/* all purpose styles  */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #eee;
}

a {
	color: #aaa;
	text-decoration: none;
}

h1 {
	color: #eee;
	font-size: 3em;
	margin: 25px 0; 
	font-family: 'Montserrat', sans-serif;
}

ul {
	list-style-type: none;
}

nav ul {
	display: flex;
}

li a:hover {
	color: white;
}

.container {
	display: grid;
}

/* top navigation */
header {
	grid-column: 1 / 4;
	background-color: rgb(34,34,34);
	color: #ccc;
	padding: 20px 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;	
	position: sticky;
}

header nav li {
    margin-right: 15px;
}

/* about me section */
.jumbotron {
	grid-column: 1 / 4;
	color: #ccc;
	background: url("../images/petal.jpg") fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
	padding: 25px;	
	text-align: center;
	display: flex;
	justify-content: space-between;
	align-items: center;	
}

.jumboimg {
	flex: 33%;
}

.jumboimg > img {
	border-radius: 50%;
	height: 20em;
}

.surround {
	flex: 66%;
	border: 1px solid white;
	background-color: rgba(0,0,0,.8); 	
	padding: 0 10px 20px 10px;
}

.surround p {
	font-size: 1.2em;
	width: 50em;
	margin: 0 auto;
}

.surround img {
	height: 2em;	
	margin: 20px 5px 0 5px;
}


/* contact and social media section */
.contact {
	color: #ccc;
	background-color: black;	
}

.contact h2 {
	color: #eee;
	margin-bottom: 25px;
	clear: both;
}

.contactsection {
	grid-column: 1 / 4;
	text-align: center;
}

.socialmedia {
	grid-column: 1 / 2;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;	
	font-size: 2em;
	padding-bottom: 2em;
}

.socialmedia ul {
	padding-top: -20em;
}

.socialmedia li {
	margin-bottom: 20px;	
}

.socialmedia ul li a img {
	width: 50px;
	height: 50px;
	margin-right: 10px;	
	vertical-align: middle;
}

.contactform {
	grid-column: 2 / 4;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;	
	font-size: 2em;
	padding-bottom: 2em;
}

/* .contactform {
	grid-column: 3 / 4;
	display: grid;
	grid-template-columns: auto auto;
} */


.contactform .form label {
	display: block;
	margin-bottom: 5px;
}

.contactform .form div input, textarea {
    color: #000; 
	border: 1px solid black; 	
	border-radius: 5px;
	width: 100%;  
	padding: 10px;

    /* border-radius: 1px; 
    width: 100%;  

    margin-top:10px;
    margin-bottom: 10px; 
    padding: 10px; */
}

.form button {
	display: inline-block;
	font-weight: 400;
	line-height: 1.25;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: .5rem 1rem;
	font-size: 1rem;
	border-radius: .25rem;
}


/* bottom navigation and copyright */
footer {
	grid-column: 1 / 4;
	grid-row: 10 / 11;
	padding: 20px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;	
	color: #777;
	background-color: #f5f5f5;
}

footer nav li {
    margin-right: 15px;
}

footer a:hover, footer a:active footer a:visited {
	color: black;
}



/* mobile */
@media screen and (max-width: 700px) {
	.jumbotron {   
		flex-direction: column;
  	}

	.surround {
		margin-top: 2em;
		font-size: .9em;
	}

	.surround p {
		max-width: 100%;
		width: 100%;
	}

	.socialmedia {
		grid-column: 1 / 4;
	}

	.contactform {
		grid-column: 1 / 4;
	}

	footer {
		flex-direction: column;
	}

	footer nav li {
		margin: 10px 5px;
	}	
}
