/* all purpose styles  */
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	background-color: #eee;
	font-family: "Segoe UI",Arial,sans-serif;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1, Firefox < 16, IE, Opera < 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

a {
	color: #aaa;
	text-decoration: none;
}

h1 {
	color: #eee;
	font-size: 3em;
	margin: 25px 0; 
	font-family: 'Montserrat', sans-serif;
}

ul {
	list-style-type: none;
}

nav ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

li a:hover {
	color: white;
}

.container {
	display: grid;
}


/* top navigation */
header {
	grid-column: 1 / 4;
	grid-row: 1 / 2;
	background-color: rgb(34,34,34);
	color: #ccc;
	padding: 20px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;	
	position: -webkit-sticky;	
	position: sticky;
	font-size: 1.5em;
}

header nav li:last-child {
	margin-right: 15px;
}

header nav li + li {
	margin-left: 15px;
}


/* about me section */
.jumbotron {
	grid-column: 1 / 4;
	grid-row: 2 / 3;
	color: #ccc;
	background: url("../img/petal.jpg") fixed;
	-ms-background-size: cover;
	background-size: cover;	
	padding: 25px;	
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;	
}

.jumboimg {
	-webkit-box-flex: 33%;
	    -ms-flex: 33%;
	        flex: 33%;
}

.jumboimg > img {
	border-radius: 50%;
	height: 20em;
}

.surround {
	-webkit-box-flex: 66%;
	    -ms-flex: 66%;
	        flex: 66%;
	border: 1px solid white;
	background-color: rgba(0,0,0,.8); 	
	padding: 0 10px 20px 10px;
	width: 100%;
}

.surround p {
	font-size: 1.2em;
	width: 90%;
	margin: 0 auto;
}

.surround img {
	height: 2em;	
	margin: 20px 5px 0 5px;
}


/* portfolio section */
.portfoliosection h1 {
	color: black;
}

.portfoliosection {
	grid-column: 1 / 4;
	grid-row: 3 / 4;
	text-align: center;
}

.cards {
	grid-column: 1 / 4;
	grid-row: 4 / 5;
	grid-template-columns: repeat(3,1fr);
	display: grid;
	grid-gap: 1rem;	
	width: 99%;
	text-align: center;
	margin: 0 auto 50px auto;
}
  
.cards .card {
	background-color: white;
	font-size: 1.5em;
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 150px;
	        flex: 1 1 150px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	position: relative;
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.1);
	        box-shadow: 0 2px 5px rgba(0,0,0,0.1);	
	min-height: 100%;
	max-height: 400px;
	height: 400px;
}

.cards .card:hover {
	top: -2px;
	-webkit-box-shadow: 0 4px 5px rgba(0,0,0,0.2);
	        box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

.cards .card .card-title {
	font-size: 1.5em;
	font-weight: bold;
}

.cards .card .cardcaption {
	background: rgb(5, 5, 5);
	background: rgba(5, 5, 5, 0.9);		
	color: #fff;
	display: none;
	position: absolute;
	top: 0;
	right: 0;	
	z-index: 2;	
	width: 100%;
	height: 100%;	
	padding: 2%;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;		
	line-height: 2em;	
}

.cards .card .cardcaption a {
	color: #fff;
	background-color: #0275d8;
	border-color: #0275d8;
	border-radius: .25rem;
	padding: 15px;
	margin: 15px;	
	font-size: 1rem;
	cursor: pointer;	
}

.cards .card .cardcaption a:hover {
	background-color: #025aa5;
	border-color: #01549b;
}

.cards .card:hover > .cardcaption {
	display: block;
	/* Safari, Chrome and Opera > 12.1, Firefox < 16, IE, Opera < 12.1 */
    -webkit-animation: fadein .5s; 
		animation: fadein .5s;	
}  

.cards .card img {
	max-width: 100%;
	background-size: cover;
	background-position: center center;
}

.cards .card .card-block {
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
	padding: 10px;
}


/* contact and social media section */
.contact {
	color: #ccc;
	background-color: black;	
}

.contact h1 {
	color: #eee;
	margin-bottom: 25px;
	clear: both;
}

.contactsection {
	grid-column: 1 / 4;
	grid-row: 5 / 6;
	text-align: center;
	padding: 10px;
}

.socialmedia {
	grid-column: 1 / 2;
	grid-row: 6 / 7;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;	
	padding-bottom: 2em;
}

.socialmedia > h1 {
	margin-bottom: 1.2em;
}

.socialmedia li {
	margin-bottom: 20px;	
	font-size: 1.5em;
}

.socialmedia ul li a img {
	width: 35px;
	height: 35px;
	margin-right: 10px;	
	vertical-align: middle;
}

.contactform {
	grid-column: 2 / 4;
	grid-row: 6 / 7;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;	
	padding-bottom: 2em;
}

.contactform .form label {
	display: block;
	margin-bottom: 5px;
	font-size: 1.5em;
}

.contactform .form div input, textarea {
    color: #000; 
	border: 1px solid black; 	
	border-radius: 5px;
	width: 100%;  
	padding: 10px;
}

.form button {
	display: inline-block;
	font-weight: 400;
	line-height: 1.25;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: .5rem 1rem;
	font-size: 1rem;
	border-radius: .25rem;
}


/* bottom navigation and copyright */
footer {
	grid-column: 1 / 4;
	grid-row: 7 / 8;
	padding: 20px 500px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;	
	color: #777;
	background-color: #f5f5f5;
	font-size: 1.5em;
	text-align: center;
}

footer nav li + li {
	margin-left: 1em;
}

footer a {
	color: #777;
}

footer a:hover, footer a:active footer a:visited {
	color: black;
}


/* tablet */
@media (max-width: 1250px) { 
	/* about me */
	.jumbotron {   
		-webkit-box-orient: vertical;   
		-webkit-box-direction: normal;   
		    -ms-flex-direction: column;   
		        flex-direction: column;
	}

	.surround {
		margin-top: 2em;
	}	

	/* portfolio */
	.cards {
		grid-template-columns: repeat(2,1fr);
	}	
	
	footer {
		padding: 20px 20px;
	}
}

/* tablet - support IE a little better */
@media (max-width: 1250px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.jumbotron {
		height: 50em;
	}
	.surround {
		margin-top: 10em;
	}	
}	

/* mobile */
@media (max-width: 992px) {
	/* top navigation */
	header {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}

	header nav li:last-child {
		margin-right: 0;
	}

	/* about me */  
	.jumboimg > img {
		height: 15em;
	}	  

	/* portfolio */
	.cards {
		grid-template-columns: repeat(1,1fr);
	}

	.cards .card {
		max-height: 400px;
		height: 400px;
		font-size: 1.1em;
		width: 90%;
		margin: 0 auto;		
	}	

	.cards .card .cardcaption a {
		display: block;
		width: 50%;
		padding: 10px;
		margin: 15px auto;
	}	


	/* contact me */
	.socialmedia > h1, .contactform > h1 {
		font-size: 2.5em;
	}

	.socialmedia {
		grid-column: 1 / 4;
		grid-row: 6 / 7;
	}

	.contactform {
		grid-column: 1 / 4;
		grid-row: 7 / 8;
	}

	.contactform form {
		width: 75%;
	}

	
	/* bottom navigation */
	footer {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
				flex-direction: column;
		grid-row: 8 / 9;
	}

	footer nav li {
		margin: 10px 5px;
	}	
}

/* mobile - support IE a little better */
@media (max-width: 992px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.jumbotron {
		height: 60em;
	}

	.surround {
		margin-top: -5em;
	}
}
